<%- include('partials/header.ejs') %>

<body>

	<h3>PW3 - CONSULTÓRIO MÉDICO</h3>
	<form action="http://localhost:3001/especialidade">
		<div>
			<button class="btn btn-dark mt-2">ESPECIALIDADE</button>
		</div>
	</form>

	<form action="http://localhost:3001/medico">
		<div>
			<button class="btn btn-info mt-2">MÉDICO</button>
		</div>
	</form>

</body>

<%- include('partials/footer.ejs') %>

</html>